@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&family=Shrikhand&display=swap');


.container{
  max-width: 1800px;
}


.nav-bt{
  color: grey; 

}
.nav-bt:hover{
    text-decoration-line: underline;

}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    border-radius: 30;
    z-index: 9;
  }
  .head{
   color: #007bff;
   font-size: 30;
  
  }

.previous-round{
    position: absolute;
    margin-top: 20px;
    font-size: large;
    color: #007bff;
    border: none;
    margin-right: 50px;
    
  

}
.next-round{
    position: absolute;
    margin-top: 20px;
    margin-right: 10px;
    color: #007bff;
    border: none;

}
  
  /* Add styles to the form container */
  .form-container {
    max-width: 400px;
    padding: 60px;
    background-color:  #e3e4e4;
    background-image: linear-gradient(315deg,  #e3e4e4 0%, white 74%);
    border-radius: 30;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
   
    background: #f1f1f1;
    border-radius: 250;

  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .form-field{

    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    border-color: #b2b4b7;

  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

.plan-popup{
    position: absolute;
    z-index: 10;
}



  
.background {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
  }
  
  .background::after {
    content: '';
    background: #60a9ff;
    background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
    background: -webkit-linear-gradient(top, #60a9ff 0%,#4394f4 100%);
    background: linear-gradient(to bottom, #60a9ff 0%,#4394f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  @media (min-width: 900px) {
    .background {
      padding: 0 0 25px;
    }
  }
  
  .container {
    margin: 0 auto;
    padding: 30px 0 0;
    max-width: 660px;
    width: 100%;
   
    
  

  }
  
  .panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
  }
  
  .pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 900px) {
    .pricing-table {
      flex-direction: row;
    }
  }
  
  .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }
  
  .pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
  }
  
  .pricing-plan:last-child {
    border-bottom: none;
  }
  
  @media (min-width: 900px) {
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      flex-basis: 100%;
      padding: 25px 50px;
    }
  
    .pricing-plan:last-child {
      border-right: none;
    }
  }
  
  .pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
    height: 200px;
  }
  
  .pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .pricing-features {
    color: #016FF9;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
  }
  
  .pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 15px;
    line-height: 1.5;
    padding: 5px 0;
    margin-right: 20px;

    font-family: 'Times New Roman', Times, serif;

  }
  
  .pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
  }
  
  .pricing-price {
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348EFE;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }
  
  .pricing-button:hover,
  .pricing-button:focus {
    background-color: #e1f1ff;
  }
  
  .pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
  }
  
  .pricing-button.is-featured:hover,
  .pricing-button.is-featured:active {
    background-color: #269aff;
  }

  .pop-offer{

   font-family: 'Times New Roman', Times, serif;
   font-weight: bolder;
  }

  .form-addpop {
   display: none;
    position: fixed;
    bottom: 0;
    right: 10px;
    border: 3px solid #f1f1f1;
    border-radius: 30;
    z-index: 8;
    
    
  }
  main {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.image-container {
    
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count:none;
    animation-name:placeHolderShimmer ;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    
    position: relative;
    margin: 10px;
    width: 300px;
    height: 200px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}




@keyframes placeHolderShimmer {
    0% {
      background-position: -800px 0
    }
    100% {
      background-position: 800px 0
    }
  }
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



 .service-box {
  padding: 0 25px 25px;
  position: relative;
margin-left: 5px;
  
  width: 100%;
}

.service-box::after {
  content: '';
  background: #60a9ff;
  background: -moz-linear-gradient(top, #fafcfc 0%, #fcfdfd 100%);
  background: -webkit-linear-gradient(top, #fefefe 0%,#fcfcfd 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%,#f6f8f9 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
  height: 350px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 1190px;
  margin-left: 300px;
  z-index: 1;
}


@media (min-width: 900px) {
  .service-box {
    padding: 0 0 25px;
    margin-left: 10px;
    background-color: #60a9ff;
  }
}




.container-service {
  
  box-sizing: border-box;

  
  padding: 30px 0 0;
  max-width: 800px;
  width: 100%;
  min-width: 400px;margin: 0;

 
 





}

@media(min-width:500px){


  #container-service2{
    position: relative;
  
    
  
  
  }


}



  



  
  
  
  

  
  
  